* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.container {
    width: 80vw;
    min-height: 80vh;
    margin: 5vh auto;
    background-color: bisque;
    box-shadow: 3px 3px 10px -4px;
    border-radius: 10px;
    padding: .5rem 2rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-size: 2rem;
    padding: .5rem;
}

.add-book {
    background-color: rgb(3, 68, 3);
    color: white;
    border-radius: 3px;
    padding: .5rem;
    margin: .5rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px  black;
}

.extra-container {
    display:flex;
    margin: 1.5rem;
    justify-content: center;
}

.book-form {
    display: grid;
    background-color: white;
    border: 4px solid burlywood;
    border-radius: 3px;
    box-shadow: 3px 3px 5px -3px;
    width: 50%;
    margin-left: .5rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'title author'
    'pages genre'
    'read read'
    'submit submit';
    gap: .4rem;
}

.hidden {
    display: none;
}

.book-form > div {
    display: flex;
    flex-flow: column;
}

.error {
    border: red 1px solid;
    padding: .075rem;
    border-radius: 2px;
}

.book-form div:nth-child(1) {
    grid-area: title;
}

.book-form div:nth-child(2) {
    grid-area: author;
}

.book-form div:nth-child(3) {
    grid-area: pages;
}

.book-form div:nth-child(4) {
    grid-area: genre;
}

.book-form div:nth-child(5) {
    grid-area: read;
    margin: 1rem auto;
}

.book-form  div:nth-child(5) > div:nth-child(2) {
    display: flex;
    flex-flow: column;
}

.book-form  div:nth-child(5) > div:nth-child(1) {
    margin-bottom: .3rem;
}

.book-form  div:nth-child(5) > div:nth-child(2) > div {
    margin: .1rem 0;
}

.book-form div:nth-child(6) {
    grid-area: submit;
    align-items: center;
    margin-top: .4rem;
    background-color: rgb(3, 68, 3);
    color: white;
    border-radius: 3px;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

.close {
    margin-left: .5rem;
    height: fit-content;
    cursor: pointer;
    color: red;
}


.shelf{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.shelf > div {
    width: 20%;
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-right: 6px maroon solid;
    border-top: 3px maroon solid;
    border-bottom: 3px maroon solid;
    border-radius: 2px;
    box-shadow: 1px 1px 5px;
}